* {
  box-sizing: border-box;
}

body {
  margin: 0;

  display: grid;
  place-items: center;
  min-height: 100vh;

  background-color: #0c0c0c;
  color: white;

  font-family: "Inter", sans-serif;

  font-size: 16px;
}

.App {
  min-width: 340px;

  border-radius: 0.5em;

  padding: 1em;
  margin: 0 auto;
}

.length {
  opacity: 0;
  position: absolute;
  transition: all 250ms ease-in;
  width: 60px;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: #fce762;
  color: #0c0c0c;
  transform: translate(210%, -120%);
  font-size: 1.5rem;

  border-radius: 0.5em;
}

.form__length_label:hover .length {
  opacity: 1;
}

.form__length_label input:enabled .length {
  opacity: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

.form__length_label {
  position: relative;
  display: flex;
  padding: 1em;
  background-color: #4f4789;
  border-radius: 0.5em;
}

.form__length_label input {
  width: 100%;
  margin: 0 1em;
}

.form__options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.form__options label {
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  gap: 0.5em;
  background-color: #4f4789;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit {
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  border: none;
  font-weight: 600;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fce762;
  color: #0c0c0c;
  transition: all 200ms ease;
}

.submit:hover {
  background-color: rgb(252, 200, 98);
}

.hidden-toggle {
  display: none;
}

.hidden-toggle:checked ~ .slider {
  background-color: dodgerblue;
}

.hidden-toggle:checked ~ .slider button {
  left: 35px;
}

.slider {
  background-color: lightslategray;
  border: 2px solid #bbb;
  border-radius: 20px;
  cursor: pointer;
  width: 70px;
  height: 36px;
  position: relative;
  transition: all 300ms ease-in-out;
}

.slider button {
  pointer-events: none;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: white;
  transition: all 300ms ease-in-out;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.result h3 {
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #4f4789;
  transition: all 200ms ease-in-out;
}

.result button {
  text-transform: uppercase;
  font-family: inherit;
}

.result__div {
  display: flex;
  gap: 1em;
}

.result__div button {
  width: 50%;
}

.result button {
  padding: 1em;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
}

.clipboard {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(220%, -200%);
  transition: all 200ms ease-in-out;
  background-color: #4f4789;
  padding: 0.75rem;
  border-radius: 0.5rem;
}
